*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppings", sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(21, 144, 158, 0.096),rgba(0, 0, 0, 0.774)), url(Images/Background-fadded.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.wrapper {
    width: 550px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 30px;
    padding: 50px 40px;
    box-sizing: border-box;
}
.wrapper h1{
    color: white;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box  {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px;
    
}
.input-box input::placeholder{
    color:rgb(255, 255, 255);
    
}
#message{
    width: 100% ;
    max-width: 460px;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    background: transparent;
    margin-bottom: 50px;
    font-size: 16px;
    color: white;
    padding: 20px;
}
#message::placeholder{
    color:rgb(255, 255, 255);
}

.input-box i{
   position: absolute;
   right: 20px; 
   top: 30%;
   transform: translate(-50%);
   font-size: 20px;
   color: white;
}


.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 40px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}

