*{
    margin: 0;  
    padding: 0;
    font-family: 'poppings',sans-serif;
    box-sizing: border-box;
}
.container{
    min-height: 100vh;
    background-image: linear-gradient(rgba(178, 243, 255, 0.65), rgba(29, 48, 224, 0.5)), url(Background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

img{
    max-width: 300px;
    margin-left: 30px ;
    margin-top: 30px;
    box-shadow: 0,0,20;
}