* {
    margin: 0;  
    padding: 0;
    font-family: "Chivo", sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(12deg, #000000, #093c41, #0c895e);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 34s ease infinite;
    -moz-animation: AnimationName 34s ease infinite;
    animation: AnimationName 34s ease infinite;
}


@-webkit-keyframes AnimationName {
    0%{background-position:56% 0%}
    50%{background-position:45% 100%}
    100%{background-position:56% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:56% 0%}
    50%{background-position:45% 100%}
    100%{background-position:56% 0%}
}
@keyframes AnimationName {
    0%{background-position:56% 0%}
    50%{background-position:45% 100%}
    100%{background-position:56% 0%}
}


.container {
    width: 550px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 30px;
    padding: 50px 40px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff; /* Darker text color */
}


.input-box {
    margin-bottom: 15px;
}

label {
    color: #fff;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
select,
textarea{
    appearance: none;
    width: 100%;
    padding: 12px; /* Increased padding */
    margin-top: 10px; /* Adjusted margin */
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.233); /* Lighter border color */
    border-radius: 20px; /* Adjusted border radius */
    box-sizing: border-box;
    background:transparent;
    color: #ffffff; /* Dark text color */
}
select:focus{
    background-color: #000000;
}
textarea{
    width: 100% ;
    max-width: 460px;
}
textarea::placeholder,input[type="text"]::placeholder{
    color: white;
}
button {
    width: 100%;
    padding: 12px; /* Increased padding */
    background-color: #f3f3f3; /* Blue button */
    color: #000000;
    border: none;
    border-radius: 10px; /* Adjusted border radius */
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease; /* Smooth transition */
}

button:hover , select:hover , textarea:hover, input[type="text"]:hover {
    background-color: #00000060; /* Darker blue on hover */
    color: #ffffff;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    width: 100%;
    padding: 12px; /* Increased padding */
    margin-top: 10px; /* Adjusted margin */
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.233); /* Lighter border color */
    border-radius: 20px; /* Adjusted border radius */
    box-sizing: border-box;
    background:transparent;
    color: #ffffff; /* Dark text color */
}

.custom-file-upload:hover {
    background-color: #00000060;
    color:#fff;
}
